[submodule "packages/jenga"]
	path = packages/jenga
	url = https://github.com/janestreet/jenga
[submodule "packages/ocaml_plugin"]
	path = packages/ocaml_plugin
	url = https://github.com/janestreet/ocaml_plugin
[submodule "packages/async"]
	path = packages/async
	url = https://github.com/janestreet/async
[submodule "packages/async_extra"]
	path = packages/async_extra
	url = https://github.com/janestreet/async_extra
[submodule "packages/async_find"]
	path = packages/async_find
	url = https://github.com/janestreet/async_find
[submodule "packages/async_inotify"]
	path = packages/async_inotify
	url = https://github.com/janestreet/async_inotify
[submodule "packages/async_kernel"]
	path = packages/async_kernel
	url = https://github.com/janestreet/async_kernel
[submodule "packages/async_parallel"]
	path = packages/async_parallel
	url = https://github.com/janestreet/async_parallel
[submodule "packages/async_unix"]
	path = packages/async_unix
	url = https://github.com/janestreet/async_unix
[submodule "packages/bin_prot"]
	path = packages/bin_prot
	url = https://github.com/janestreet/bin_prot
[submodule "packages/comparelib"]
	path = packages/comparelib
	url = https://github.com/janestreet/comparelib
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/janestreet/core
[submodule "packages/core_kernel"]
	path = packages/core_kernel
	url = https://github.com/janestreet/core_kernel
[submodule "packages/custom_printf"]
	path = packages/custom_printf
	url = https://github.com/janestreet/custom_printf
[submodule "packages/enumerate"]
	path = packages/enumerate
	url = https://github.com/janestreet/enumerate
[submodule "packages/fieldslib"]
	path = packages/fieldslib
	url = https://github.com/janestreet/fieldslib
[submodule "packages/herelib"]
	path = packages/herelib
	url = https://github.com/janestreet/herelib
[submodule "packages/pa_bench"]
	path = packages/pa_bench
	url = https://github.com/janestreet/pa_bench
[submodule "packages/pa_ounit"]
	path = packages/pa_ounit
	url = https://github.com/janestreet/pa_ounit
[submodule "packages/pa_test"]
	path = packages/pa_test
	url = https://github.com/janestreet/pa_test
[submodule "packages/pipebang"]
	path = packages/pipebang
	url = https://github.com/janestreet/pipebang
[submodule "packages/sexplib"]
	path = packages/sexplib
	url = https://github.com/janestreet/sexplib
[submodule "packages/type_conv"]
	path = packages/type_conv
	url = https://github.com/janestreet/type_conv
[submodule "packages/typerep"]
	path = packages/typerep
	url = https://github.com/janestreet/typerep
[submodule "packages/variantslib"]
	path = packages/variantslib
	url = https://github.com/janestreet/variantslib
[submodule "packages/ocaml-inotify"]
	path = packages/ocaml-inotify
	url = https://github.com/vincenthz/ocaml-inotify
[submodule "packages/ounit"]
	path = packages/ounit
	url = https://github.com/warrenharris/ounit
